<div class="col-9">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% list.each do |user| %>
      <tr>
        <td><%= link_to user.full_name, user_path(user) %></td>
        <td><%= link_to "Remove",
                        friendship_path(user),
                        method: :delete, data: {confirm: "Are you sure?"},
                        class: "btn btn-sm btn-warning" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>