@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

/**
 * NAVBAR
 */
.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  letter-spacing: -1px;
}

/**
 * MYPORTFOLIO
 */
.search-area {
  padding-top: 50px;
}

/**
 * LISTS
 */
.on-hover {
  opacity: 0;
}

.list-group-item-action:hover .on-hover, .on-hover:hover {
  opacity: 1;
}