@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

/**
 * NAVBAR
 */
.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  letter-spacing: -1px;
}

/**
 * MYPORTFOLIO
 */
.search-area {
  padding-top: 50px;
}